:root {
    --main-color: #3498db; /* Define the color variable */
  }

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

*::selection {
    color: white;
    background-color: var(--main-color);;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    font-family: Poppins, sans-serif;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
}

#background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



#background img {
    position: fixed;
    width: 100%;      /* Make image fill the container width */
    height: 100%;     /* Make image fill the container height */
    object-fit: cover; /* Cover the entire container without distortion */
}


.active {
    color: var(--main-color);;
}